document-chat-database/chat-with-google-drive-using-pinecone-vector-database.json.json
{
    "nodes": [
      {
        "parameters": {
          "mode": "insert",
          "pineconeIndex": {
            "__rl": true,
            "value": "n8n-dense-index",
            "mode": "list",
            "cachedResultName": "n8n-dense-index"
          },
          "options": {
            "pineconeNamespace": "release-notes-namespace"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          -16,
          16
        ],
        "id": "e73ef010-c51c-4bb1-87cb-92cd65a6a73a",
        "name": "Pinecone Vector Store",
        "credentials": {
          "pineconeApi": {
            "id": "pBm0ARHJdLXfTUXe",
            "name": "Pinecone"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "dimensions": 1536
          }
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          -80,
          592
        ],
        "id": "98c2d7b7-88ff-49d6-9095-a386846f690b",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "wRaEYGibKa7GoCaK",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          -464,
          864
        ],
        "id": "5c37d980-4726-4f35-8845-71e8d4750121",
        "name": "When chat message received",
        "webhookId": "016c2966-4f58-4598-9bce-d48c8f6b4bc8"
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "You are a helpful assistant. Only use the Pinecone Vector Store Tool to retrieve data about Pinecone releases. Include the file name and file url in citations wherever referenced in output."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -176,
          864
        ],
        "id": "b51a237f-2467-4f72-8d14-04b2443c5270",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -272,
          1136
        ],
        "id": "f1299e20-a590-46f3-a742-24bd93fbd78e",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "wRaEYGibKa7GoCaK",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Contains data about Pinecone releases.",
          "pineconeIndex": {
            "__rl": true,
            "value": "n8n-dense-index",
            "mode": "list",
            "cachedResultName": "n8n-dense-index"
          },
          "topK": 20,
          "useReranker": true,
          "options": {
            "pineconeNamespace": "release-notes-namespace"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
        "typeVersion": 1.3,
        "position": [
          112,
          1008
        ],
        "id": "c06a2096-c5cc-4a0d-a9f8-fcef5c237c81",
        "name": "Pinecone Vector Store Tool",
        "credentials": {
          "pineconeApi": {
            "id": "pBm0ARHJdLXfTUXe",
            "name": "Pinecone"
          }
        }
      },
      {
        "parameters": {
          "content": "![Pinecone logo](https://www.pinecone.io/images/pinecone-logo-for-n8n-templates.png)\n\n\n## Try it out\n\nThis n8n workflow template lets you chat with your Google Drive documents (.docx, .json, .md, .txt, .pdf) using OpenAI and Pinecone vector database. It retrieves relevant context from your files in real time so you can get accurate, context-aware answers about your proprietary data—without the need to train your own LLM.\n#### Not interested in chunking and embedding your own data or figuring out which search method to use?\n\nTry our n8n quickstart for Pinecone Assistant [here](https://docs.pinecone.io/guides/assistant/quickstart#n8n) or check out the full workflow to chat with your Google Drive documents [here](https://n8n.io/workflows/9942-rag-powered-document-chat-with-google-drive-openai-and-pinecone-assistant/).\n\n### Prerequisites\n\n* A [Pinecone account](https://app.pinecone.io/) and [API key](https://app.pinecone.io/organizations/-/projects/-/keys)\n* A GCP project with [Google Drive API enabled and configured](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/)\n  * Note: When setting up the OAuth consent screen, skip steps 8-10 if running on localhost\n* An [Open AI account](https://auth.openai.com/create-account) and [API key](https://platform.openai.com/settings/organization/api-keys)\n* A [Cohere account](https://dashboard.cohere.com/welcome/register) and [API key](https://dashboard.cohere.com/api-keys)\n\n### Setup\n\n1. Create a Pinecone index in the Pinecone Console [here](https://app.pinecone.io/organizations/-/projects/-/indexes) \n\t1. Name your index `n8n-dense-index`\n\t2. Select OpenAI's `text-embedding-3-small`\n\t3. Set the Dimension to `1536`\n\t4. Leave everything else as default\n\t5. If you use a different index name, update the related nodes to reflect this change\n2. Setup your Google Drive OAuth2 API credential in n8n\n3. Setup your Pinecone API key, Open AI, and Cohere credentials in n8n\n4. Download these files and add them to a Drive folder named `n8n-pinecone-demo` in the root of your My Drive\n\t1. https://docs.pinecone.io/release-notes/2022.md\n\t2. https://docs.pinecone.io/release-notes/2023.md\n\t3. https://docs.pinecone.io/release-notes/2024.md\n\t4. https://docs.pinecone.io/release-notes/2025.md\n\t5. https://docs.pinecone.io/release-notes/2026.md\n5. Activate the workflow or test it with a manual execution to ingest the documents\n6. Enter the chat prompts to chat with the Pinecone release notes\n\t1. `What support does Pinecone have for MCP?`\n\t2. `When was fetch by metadata released?`\n\n### Ideas for customizing this workflow\n\n- Use your own data and adjust the chunking strategy\n- Update the AI Agent System Message to reflect how the Pinecone Vector Store Tool will be used. Be sure to include info on what data can be retrieved using that tool.\n- Update the Pinecone Vector Store Tool Description to reflect what data you are storing in the Pinecone index\n### Need help?\n\nYou can find help by asking in the [Pinecone Discord community](https://discord.gg/tJ8V62S3sH) or [filing an issue](https://github.com/pinecone-io/n8n-templates/issues/new/choose) on this repo.",
          "height": 1488,
          "width": 604
        },
        "id": "a62e23b3-eae6-48e6-9b9e-4b5853234a62",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1248,
          -80
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "dataType": "binary",
          "binaryMode": "specificField",
          "textSplittingMode": "custom",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "external_file_id",
                  "value": "={{ $json.id }}"
                }
              ]
            }
          }
        },
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1.1,
        "position": [
          128,
          192
        ],
        "id": "f738618b-ce9f-41ab-a6f5-2f7fed2a1d9f",
        "name": "Default Data Loader"
      },
      {
        "parameters": {
          "topN": 5
        },
        "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
        "typeVersion": 1,
        "position": [
          208,
          1248
        ],
        "id": "0af1ef79-079b-4c93-a7d6-ea65c153de52",
        "name": "Cohere Reranker",
        "credentials": {
          "cohereApi": {
            "id": "93irEWSds2FNTyXk",
            "name": "Cohere"
          }
        }
      },
      {
        "parameters": {
          "content": "## 1. Download, chunk, embed, and upsert Pinecone release notes to Pinecone index",
          "height": 608,
          "width": 1184,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -608,
          -80
        ],
        "typeVersion": 1,
        "id": "3058cf8c-385d-4f9b-bdb4-12243bb1c52f",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## 2. Chat with the Pinecone release notes",
          "height": 672,
          "width": 1184,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -608,
          736
        ],
        "typeVersion": 1,
        "id": "c844c7ca-fc77-44d7-9fc7-3ae5dd5b11b1",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "separator": "<Update label=\"",
          "chunkSize": 2000,
          "chunkOverlap": 500
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          224,
          352
        ],
        "id": "766a7768-8bf7-458b-b43c-29fe238fc8df",
        "name": "Character Text Splitter - markdown"
      },
      {
        "parameters": {
          "content": "## What chunking strategy should I use?\n\nIn the case of the Pinecone release notes, these are markdown files with separators like this:\n\n```\n<Update label=\"2025-12-12\" tags={[\"General\"]}>\n  ### Upgrade from Starter to Standard trial\n\n  Organizations on the Starter plan can now upgrade to a Standard plan trial at any time. The Standard trial provides 21 days and \\$300 in credits to test Pinecone at scale, with access to Standard plan features such as higher limits. For more information, see [Standard plan trial](/guides/organizations/manage-billing/standard-trial).\n</Update>\n```\n\nEach release is contained in an `Update` tag and each feature indicated by `###`. We expect our queries to be as granular as features in a release, so we try to chunk by release without breaking up features. We want chunks to be big enough to contain meaningful information but not so big that the meaning is diluted or it can't fit within the context window of the embedding model. Here, we use the Character Text Splitter and split on `<Update label=\"` with a chunk size about as big as a release and an overlap in case info spills to the next chunk.\n\nNote: We could also choose to use the Recursive Text Splitter to break paragraphs, sentences and words based on markdown syntax, depending on a given chunk size. This was less accurate for the example queries based on the shape of the data and expected queries.\n\nYou can read more about choosing a chunking strategy [here](https://www.pinecone.io/learn/chunking-strategies/).",
          "height": 608,
          "width": 576,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          624,
          -80
        ],
        "typeVersion": 1,
        "id": "2fb30743-a6f7-44eb-aed0-abc3eba9a399",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1gsyG6CMIIVkLU9fHpmrrf3GVja6VFDrO",
            "mode": "list",
            "cachedResultName": "n8n-pinecone-demo",
            "cachedResultUrl": ""
          },
          "event": "fileCreated",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -496,
          16
        ],
        "id": "675daabc-abb7-49d8-b1c8-dac9b3b2aa36",
        "name": "Google Drive Trigger",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jfHLEN7hcvGOLbW5",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "fileName": "={{ $json.name }}"
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -288,
          16
        ],
        "id": "8fb8ddb6-ea88-4410-b065-9c4c2ac8e2e6",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jfHLEN7hcvGOLbW5",
            "name": "Google Drive account"
          }
        }
      }
    ],
    "connections": {
      "Embeddings OpenAI": {
        "ai_embedding": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_embedding",
              "index": 0
            },
            {
              "node": "Pinecone Vector Store Tool",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Vector Store Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Cohere Reranker": {
        "ai_reranker": [
          [
            {
              "node": "Pinecone Vector Store Tool",
              "type": "ai_reranker",
              "index": 0
            }
          ]
        ]
      },
      "Character Text Splitter - markdown": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Pinecone Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "6ae6d27e57788e6797af2bf16734f2cac83ad4b8f8ebbf57445f55ef5d3a52da"
    }
  }