vacation-rental-property-manager-assistants/vacation-rental-property-manager-assistants.json
{
    "nodes": [
      {
        "parameters": {
          "options": {
            "responseMode": "lastNode"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.4,
        "position": [
          -160,
          -208
        ],
        "id": "b983b51c-4709-4a45-8cc5-7c5985810de3",
        "name": "When chat message received",
        "webhookId": "212e7025-c02d-4efb-84a7-dcf768e05b19"
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "You are a helpful assistant for a vacation rental property manager and their guests. Based on the user's message, decide if they are requesting information about the \"hillcrest\", \"birchwood\", \"lakeside\" property. You route requests based on property name to the appropriate pinecone assistant tool to fetch answers about the property.\n\nIf you cannot infer the property from the user's message, do not call any tools and instead ask for more information in the chat.\n\nIf the person requests to be contacted, do not call any tools and instead return a response indicating that someone will reach out to them.\n\nUse a friendly, helpful tone.",
            "maxIterations": 3
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          176,
          -192
        ],
        "id": "60df5529-cf56-4159-9dd5-d2d9ae5e5738",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -16,
          112
        ],
        "id": "413f1cea-1f04-4bf6-be96-656b7b7aa530",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "wRaEYGibKa7GoCaK",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "fileName": "={{ $json.name }}"
          }
        },
        "id": "bac22b72-2f09-406c-b68d-5a1139595263",
        "name": "Download new file",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          208,
          -1024
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jfHLEN7hcvGOLbW5",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Step 1: Upload property data to Pinecone Assistant",
          "height": 752,
          "width": 1504,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -544,
          -1136
        ],
        "typeVersion": 1,
        "id": "2bf09a95-b3d2-4f34-b791-a19b6e1573c7",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Step 2: Get answers about a specific property",
          "height": 736,
          "width": 1504,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -544,
          -336
        ],
        "typeVersion": 1,
        "id": "0dd6b20c-9e6a-4722-b26d-1a7160940326",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "12nnk6Q6u1kS5_SMXRzpu-tYszD-ZbjlH",
            "mode": "list",
            "cachedResultName": "hillcrest",
            "cachedResultUrl": ""
          },
          "event": "fileCreated",
          "options": {}
        },
        "id": "4ea04c91-a7ac-4259-9b1e-d80bf0674d2e",
        "name": "Hillcrest file added",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "position": [
          -240,
          -1024
        ],
        "typeVersion": 1,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jfHLEN7hcvGOLbW5",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1GHDqU3-hDH2BoPpLZb6GCeH50pi9Fv1s",
            "mode": "list",
            "cachedResultName": "birchwood",
            "cachedResultUrl": ""
          },
          "event": "fileCreated",
          "options": {}
        },
        "id": "c9841786-4c51-4ad8-952f-102addd4fabe",
        "name": "Birchwood file added",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "position": [
          -240,
          -816
        ],
        "typeVersion": 1,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jfHLEN7hcvGOLbW5",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "value": "1cp7-JPn2b_sfs7ZKnXl6voC_kiopzu2T",
            "mode": "list",
            "cachedResultName": "lakeside",
            "cachedResultUrl": ""
          },
          "event": "fileCreated",
          "options": {}
        },
        "id": "770a7655-a1aa-4ee7-a485-441a976031c2",
        "name": "Lakeside file added",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "position": [
          -240,
          -608
        ],
        "typeVersion": 1,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jfHLEN7hcvGOLbW5",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "uploadFile",
          "assistantData": "{\"name\":\"n8n-vacation-rental-property-hillcrest\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
          "externalFileId": "={{ $json.id }}",
          "additionalFields": {
            "sourceTag": "n8n:n8n_nodes_pinecone_assistant:vacation_rental_property_manager_assistants"
          }
        },
        "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistant",
        "typeVersion": 1,
        "position": [
          608,
          -1024
        ],
        "id": "9603bfef-bfab-4102-a0f4-e6df7653ea63",
        "name": "Upload file to Hillcrest Assistant",
        "credentials": {
          "pineconeAssistantApi": {
            "id": "GwHylpB6WoRjIGlA",
            "name": "Pinecone Assistant account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "fileName": "={{ $json.name }}"
          }
        },
        "id": "0d905bbf-2d7b-4251-b37a-3d69d52881e9",
        "name": "Download new file1",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          208,
          -816
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jfHLEN7hcvGOLbW5",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "uploadFile",
          "assistantData": "{\"name\":\"n8n-vacation-rental-property-birchwood\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
          "externalFileId": "={{ $json.id }}",
          "additionalFields": {
            "sourceTag": "n8n:n8n_nodes_pinecone_assistant:vacation_rental_property_manager_assistants"
          }
        },
        "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistant",
        "typeVersion": 1,
        "position": [
          608,
          -816
        ],
        "id": "e0a45c54-effd-4fb2-8876-e3115c911f9d",
        "name": "Upload file to Birchwood Assistant",
        "credentials": {
          "pineconeAssistantApi": {
            "id": "GwHylpB6WoRjIGlA",
            "name": "Pinecone Assistant account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "options": {
            "fileName": "={{ $json.name }}"
          }
        },
        "id": "fbaa2fd0-c869-4472-b5ef-8fdc62447004",
        "name": "Download new file2",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          208,
          -608
        ],
        "typeVersion": 3,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "jfHLEN7hcvGOLbW5",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "uploadFile",
          "assistantData": "{\"name\":\"n8n-vacation-rental-property-lakeside\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
          "externalFileId": "={{ $json.id }}",
          "additionalFields": {
            "sourceTag": "n8n:n8n_nodes_pinecone_assistant:vacation_rental_property_manager_assistants"
          }
        },
        "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistant",
        "typeVersion": 1,
        "position": [
          608,
          -608
        ],
        "id": "969a328c-a1ec-4d68-95f2-8ee4e3c25e84",
        "name": "Upload file to Lakeside Assistant",
        "credentials": {
          "pineconeAssistantApi": {
            "id": "GwHylpB6WoRjIGlA",
            "name": "Pinecone Assistant account"
          }
        }
      },
      {
        "parameters": {
          "content": "![Pinecone logo](https://www.pinecone.io/images/pinecone-logo-for-n8n-templates.png)\n\n\n## Try it out\n\nThis workflow shows you how a vacation rental property manager can manage multiple properties each with different information using Pinecone Assistant. Guests can ask questions about their property and get a personalized answer back.\n### What is Pinecone Assistant?\n\n[Pinecone Assistant](https://docs.pinecone.io/guides/assistant/overview) allows you to build production-grade chat and agent-based applications quickly. It abstracts the complexities of implementing retrieval-augmented (RAG) systems by managing the chunking, embedding, storage, query planning, vector search, model orchestration, reranking for you.\n### Prerequisites\n\n* A [Pinecone account](https://app.pinecone.io/) and [API key](https://app.pinecone.io/organizations/-/projects/-/keys)\n* A GCP project with [Google Drive API enabled and configured](https://docs.n8n.io/integrations/builtin/credentials/google/oauth-single-service/)\n* An [Open AI account](https://auth.openai.com/create-account) and [API key](https://platform.openai.com/settings/organization/api-keys)\n\n### Setup\n\n1. Create three Pinecone Assistants in the Pinecone Console [here](https://app.pinecone.io/organizations/-/projects/-/assistant) \n\t1. Name your Assistants `n8n-vacation-rental-property-lakeside`, `n8n-vacation-rental-property-birchwood`, `n8n-vacation-rental-property-hillcrest`\n\t2. No need to configure a Chat model or Assistant instructions\n2. Setup your Google Drive OAuth2 API, Pinecone API, and OpenAI credentials in n8n\n3. Select your Assistant Name in each of the respective Pinecone Assistant nodes\n4. Ask Claude or ChatGPT to generate fictional data in markdown file(s) for each property. You'll use this data in the next step. Using this prompt:\n```\nGenerate fictional data in markdown format in multiple files for three fictional vacation rental properties in a fictional city. The rental property names are:\n- **Hillcrest Haven** – cozy hillside cottage\n- **Birchwood Retreat** – wooded cabin\n- **Lakeside Loft** – modern loft near the water\n\nInclude house manual and rules, wifi codes, local restaurant, coffee shop, outdoor recreation, and entertainment recommendations, and fictional appliance manuals for the air fryer, coffee pot, tv, and washer and dryer.\n\nAll addresses, cities, names, phone numbers should be fictional. Each set of files should be named based on their property name like \"hillcrest_haven_house_manual.md\".\n```\n**Note:** If you don't want to generate your own files, you can use [these files](https://github.com/pinecone-io/n8n-templates/blob/main/vacation-rental-property-manager-assistants/fictional-data).\n\n5. Add the files to three separate Drive folders named `lakeside`, `birchwood`, and `hillcrest`\n6. Activate the workflow to upload the documents to Pinecone\n7. Once the data is uploaded, ask questions in the chat about a property:\n\t1. `I need help with the coffee maker`\n\t2. `The air fryer isn't working at the Lakeside property`\n\n### Ideas for customizing this workflow\n\n- This workflow uses one Assistant per property. You could also use one Assistant and separate the data by setting a metadata field, `property`, to the name of the property the file is for.\n- Use your own data and customize to your use case with multiple store locations, restaurants, teams, etc.\n\n### Need help?\n\nYou can find help by asking in the [Pinecone Discord community](https://discord.gg/tJ8V62S3sH) or [filing an issue](https://github.com/pinecone-io/n8n-templates/issues/new/choose) on this repo.",
          "height": 1536,
          "width": 512
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1088,
          -1136
        ],
        "typeVersion": 1,
        "id": "e5e9c49a-b5bf-493b-85cf-4d523fb56bc0",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "assistantData": "{\"name\":\"n8n-vacation-rental-property-hillcrest\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
          "additionalFields": {
            "sourceTag": "n8n:n8n_nodes_pinecone_assistant:vacation_rental_property_manager_assistants"
          }
        },
        "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistantTool",
        "typeVersion": 1,
        "position": [
          352,
          208
        ],
        "id": "6ddf9274-cc0f-4801-8ac4-4b6295b50716",
        "name": "Hillcrest assistant",
        "credentials": {
          "pineconeAssistantApi": {
            "id": "GwHylpB6WoRjIGlA",
            "name": "Pinecone Assistant account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
          "contextWindowLength": 3
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          160,
          112
        ],
        "id": "780a4404-9ceb-49ac-9a8a-6c3ed1950f90",
        "name": "Conversational memory"
      },
      {
        "parameters": {
          "assistantData": "{\"name\":\"n8n-vacation-rental-property-lakeside\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
          "additionalFields": {
            "sourceTag": "n8n:n8n_nodes_pinecone_assistant:vacation_rental_property_manager_assistants"
          }
        },
        "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistantTool",
        "typeVersion": 1,
        "position": [
          528,
          160
        ],
        "id": "50a96294-7ded-4354-866a-8d0c9ed7c12c",
        "name": "Lakeside assistant",
        "credentials": {
          "pineconeAssistantApi": {
            "id": "GwHylpB6WoRjIGlA",
            "name": "Pinecone Assistant account"
          }
        }
      },
      {
        "parameters": {
          "assistantData": "{\"name\":\"n8n-vacation-rental-property-birchwood\",\"host\":\"https://prod-1-data.ke.pinecone.io\"}",
          "additionalFields": {
            "sourceTag": "n8n:n8n_nodes_pinecone_assistant:vacation_rental_property_manager_assistants"
          }
        },
        "type": "@pinecone-database/n8n-nodes-pinecone-assistant.pineconeAssistantTool",
        "typeVersion": 1,
        "position": [
          640,
          -32
        ],
        "id": "e71a38d8-a463-417f-8841-4193591fb52f",
        "name": "Birchwood assistant",
        "credentials": {
          "pineconeAssistantApi": {
            "id": "GwHylpB6WoRjIGlA",
            "name": "Pinecone Assistant account"
          }
        }
      }
    ],
    "connections": {
      "When chat message received": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Download new file": {
        "main": [
          [
            {
              "node": "Upload file to Hillcrest Assistant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hillcrest file added": {
        "main": [
          [
            {
              "node": "Download new file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Birchwood file added": {
        "main": [
          [
            {
              "node": "Download new file1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lakeside file added": {
        "main": [
          [
            {
              "node": "Download new file2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download new file1": {
        "main": [
          [
            {
              "node": "Upload file to Birchwood Assistant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download new file2": {
        "main": [
          [
            {
              "node": "Upload file to Lakeside Assistant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Hillcrest assistant": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Conversational memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Lakeside assistant": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Birchwood assistant": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "6ae6d27e57788e6797af2bf16734f2cac83ad4b8f8ebbf57445f55ef5d3a52da"
    }
  }