quickstart/assistant-quickstart.json
{
    "nodes": [
      {
        "parameters": {
          "method": "POST",
          "url": "=https://prod-1-data.ke.pinecone.io/assistant/files/n8n-assistant",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "pineconeApi",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1808,
          -160
        ],
        "id": "53defdf6-9c74-45ce-8c1c-380c15e9fcef",
        "name": "Upload file to assistant",
        "credentials": {
          "httpHeaderAuth": {
            "id": "GvkhUuYna3y7p9e8",
            "name": "Pinecone API key - HTTP"
          },
          "pineconeApi": {
            "id": "pBm0ARHJdLXfTUXe",
            "name": "Pinecone"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "systemMessage": "You are a helpful assistant that has access to one tool, Pinecone Assistant MCP server. This tool should use the get_context function."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          1168,
          560
        ],
        "id": "c151f8f4-448b-4bb0-991f-660a9c7a050b",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1104,
          784
        ],
        "id": "efaee197-7c9d-4a86-872e-be47334f23cd",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "gv5VN25jRLU7YkML",
            "name": "OpenAI"
          }
        }
      },
      {
        "parameters": {
          "content": "## 1. Upload files to Pinecone Assistant",
          "height": 640,
          "width": 1776,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          720,
          -256
        ],
        "typeVersion": 1,
        "id": "720034ee-bc3b-4070-8ca8-26667984a407",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## 2. Chat with your docs",
          "height": 576,
          "width": 1344,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          720,
          448
        ],
        "typeVersion": 1,
        "id": "53b9265b-8c71-472f-b3f7-66983316f082",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.3,
        "position": [
          800,
          560
        ],
        "id": "2d583819-bac4-4125-9e05-e26feb3fcc89",
        "name": "Chat input",
        "webhookId": "27ee9941-a3d5-42ed-8faa-2aac710bb33c"
      },
      {
        "parameters": {
          "endpointUrl": "https://prod-1-data.ke.pinecone.io/mcp/assistants/n8n-assistant",
          "serverTransport": "httpStreamable",
          "authentication": "bearerAuth",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
        "typeVersion": 1.1,
        "position": [
          1504,
          800
        ],
        "id": "565d2e5f-4656-4336-adb6-bcf640a2c001",
        "name": "Pinecone Assistant",
        "credentials": {
          "httpBearerAuth": {
            "id": "8w7bFCA8t1S9UJgx",
            "name": "Pinecone Bearer (n8n-demo)"
          }
        }
      },
      {
        "parameters": {
          "content": "![Pinecone logo](https://www.pinecone.io/images/pinecone-logo-for-n8n-templates.png)\n\n\n## Try it out\n\nThis n8n workflow template lets you chat with files downloaded via HTTP (.docx, .json, .md, .txt, .pdf) using OpenAI and Pinecone Assistant. It retrieves relevant context from your files in real time so you can get accurate, context-aware answers about your proprietary data—without the need to train your own LLM.\n\n### Prerequisites\n\n* A [Pinecone account](https://app.pinecone.io/) and [API key](https://app.pinecone.io/organizations/-/projects/-/keys\n* An [Open AI account](https://auth.openai.com/create-account) and [API key](https://platform.openai.com/settings/organization/api-keys)\n### Setup\n\n1. Create a Pinecone Assistant in the Pinecone Console [here](https://app.pinecone.io/organizations/-/projects/-/assistant/-/files) \n\t1. Name your Assistant `n8n-assistant` and create it in the `United States` region\n\t2. If you use a different name or region, update the related nodes to reflect these changes\n\t3. No need to configure a Chat model or Assistant instructions\n2. Setup Pinecone API key credential in n8n\n\t1. In the Upload file to assistant node -> PineconeApi section, select Create new credential\n\t2. Paste in your Pinecone API key in the API Key field\n3. Setup Pinecone MCP Bearer auth credential in n8n\n\t1. In the Pinecone Assistant node -> Credential for Bearer Auth section, select Create new credential\n\t2. Set the Bearer Token field to your Pinecone API key used in the previous step\n4. Setup the Open AI credential in n8n\n\t1. In the OpenAI Chat Model node -> Credential to connect with, select Create new credential\n\t2. Set the API Key field to your OpenAI API key\n5. Activate the workflow or test it with a manual execution to ingest the documents\n6. Chat with your docs!\n\n### Ideas for customizing this workflow\n\n- Change the urls in Set file urls node to use your own files\n- Customize the System Message on the AI Agent node to your use case to indicate what kind of knowledge is stored in Pinecone Assistant\n- Change the top_k value of results returned from Assistant by adding \"and should set a top_k of 3\" to the System Message to help manage token consumption\n- Make the [chat node publicly available](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.chattrigger/#make-chat-publicly-available) or [create your own chat interface](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-langchain.chattrigger/#mode) that calls the chat webhook URL\n\n### Need help?\n\nYou can find help by asking in the [Pinecone Discord community](https://discord.gg/tJ8V62S3sH), asking on the [Pinecone Forum](https://community.pinecone.io/), or [filing an issue](https://github.com/pinecone-io/n8n-templates/issues/new/choose) on this repo.",
          "height": 1280,
          "width": 636
        },
        "id": "b22f3fe8-9871-4012-a1c6-382d3ce2d0e1",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -48,
          -256
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "url": "=https://prod-1-data.ke.pinecone.io/assistant/files/n8n-assistant/{{ $json.id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "pineconeApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1856,
          128
        ],
        "id": "d6c071f9-c36d-497b-b2c1-00ec314f889d",
        "name": "Check file status",
        "credentials": {
          "httpHeaderAuth": {
            "id": "GvkhUuYna3y7p9e8",
            "name": "Pinecone API key - HTTP"
          },
          "pineconeApi": {
            "id": "pBm0ARHJdLXfTUXe",
            "name": "Pinecone"
          }
        }
      },
      {
        "parameters": {
          "amount": 3
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2304,
          128
        ],
        "id": "d157cb39-8a59-4e46-b1f6-e0ed6c21eb35",
        "name": "Wait",
        "webhookId": "aa5fe6f0-8a72-4fb7-abde-24d0b5f8f803"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "7d41378e-7b21-4dbf-8586-f027b3f57d91",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "Available",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Available"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "Processing",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "5d7d1c72-0fdc-4258-ae0f-045f58c37242"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Processing"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.3,
        "position": [
          2064,
          128
        ],
        "id": "609101bf-0255-4900-a7be-2550037eb26f",
        "name": "End if status Available"
      },
      {
        "parameters": {
          "content": "![Pinecone logo](https://www.pinecone.io/images/pinecone-logo-for-n8n-templates.png)",
          "height": 240,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1424,
          688
        ],
        "typeVersion": 1,
        "id": "392a42ca-6f2d-4d87-a6ba-06760d7033bd",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "![Pinecone logo](https://www.pinecone.io/images/pinecone-logo-for-n8n-templates.png)",
          "height": 240,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1744,
          -240
        ],
        "typeVersion": 1,
        "id": "a12b4b9d-4e37-41c8-8320-ee6dc434f175",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "![Pinecone logo](https://www.pinecone.io/images/pinecone-logo-for-n8n-templates.png)",
          "height": 240,
          "color": 7
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1776,
          48
        ],
        "typeVersion": 1,
        "id": "4b7e10f7-67c8-49c1-b813-ad4428edf079",
        "name": "Sticky Note5"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          880,
          0
        ],
        "id": "36c84764-0097-4ee5-bc61-512d9810ab3f",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "d0e724df-685f-4661-b2ec-3cdd3c2ba0f1",
                "name": "urls",
                "value": "[\"https://docs.pinecone.io/release-notes/2025.md\", \"https://docs.pinecone.io/release-notes/2024.md\"]",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          0
        ],
        "id": "cd4a3f67-c33d-40ab-a0b2-b5b1ae80d102",
        "name": "Set file urls"
      },
      {
        "parameters": {
          "fieldToSplitOut": "urls",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1200,
          0
        ],
        "id": "3370d9ed-351d-4e64-99d0-3fd5834d1d50",
        "name": "Split to list"
      },
      {
        "parameters": {
          "url": "={{ $json.urls }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "text"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1360,
          0
        ],
        "id": "3e62fc81-efa7-4d94-89af-3cfdd767a418",
        "name": "Download file"
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "data",
          "options": {
            "fileName": "={{ $('Split to list').item.json.urls }}"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1520,
          0
        ],
        "id": "33908fc0-bb14-49c0-8f3a-b121a0d8d599",
        "name": "Convert to md file"
      }
    ],
    "connections": {
      "Upload file to assistant": {
        "main": [
          [
            {
              "node": "Check file status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Chat input": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pinecone Assistant": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Check file status": {
        "main": [
          [
            {
              "node": "End if status Available",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Check file status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "End if status Available": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Set file urls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set file urls": {
        "main": [
          [
            {
              "node": "Split to list",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split to list": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Convert to md file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to md file": {
        "main": [
          [
            {
              "node": "Upload file to assistant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "6ae6d27e57788e6797af2bf16734f2cac83ad4b8f8ebbf57445f55ef5d3a52da"
    }
  }